{% extends 'base.html' %}
{% block title %}Open Bugs{% endblock %}
{% block content %}
<h1>View Open Bugs</h1>
	{% with messages = get_flashed_messages()%}
		{% if messages %}
			{% for msg in messages %}
				<div class="alert alert-warning" role="alert">
	  			<p>{{msg}}</p>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{% if description %}
		<p>Bug Title: {{description.title}}</p>
		{% if description.status == 1 %}
			<p>Status: {{'Open'}}</p>
			<p>Assigned to: {{description.user}}</p>
			<p>Opened: {{description.opened}}</p>
			<p>Details: {{description.details}}</p>
		{% elif description.status == 0%}
				<div class="alert alert-warning" role="alert">
	  			<p>Status: {{'Closed, Open Bug Report to Read'}}</p>
				</div>
		{% endif%}
	{% endif %}

<form action='#' method='POST'>
	<p>Investigate Open Bug Reports:</p>
	<input type="text" name="bugTitle", placeholder="Enter Bug Title" value ="{{title if title}}" maxlength = "100"/>
	<input type="submit" value='submit'/>
</form>

	<p></p>
	<p> - - - - - Open Bug Reports - - - - - - </p>
	{% for item in values %}
		{% if item.status == 1 %}
		<p>Bug Title: {{item.title}}</p>
		{% endif %}
	{% endfor %}
{% endblock %}