{% extends 'base.html' %}
{% block title %}Open Bugs{% endblock %}
{% block content %}
<h1>Testing the Closed Bug Page</h1>
	{% with messages = get_flashed_messages()%}
		{% if messages %}
			{% for msg in messages %}
				<p><b>{{msg}}</b></p>
				<p> - - - - - - - - - - - </p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{% for item in values %}
		{% if item.status == 0 %}
		<p>Bug Title: {{item.title}}</p>
		<p>Status: {{'Closed'}}</p>
		<p>Opened: {{item.opened}}</p>
		<p>Details: {{item.details}}</p>
		<p> - - - - - - - - - - - </p>
		{% endif %}
	{% endfor %}
{% endblock %}