{% extends 'base.html' %}
{% block title %}Open Bugs{% endblock %}
{% block content %}
<h1>View Closed Bugs</h1>
	{% with messages = get_flashed_messages()%}
		{% if messages %}
			{% for msg in messages %}
				<div class="alert alert-warning" role="alert">
	  			<p>{{msg}}</p>
				</div>
				<p> - - - - - - - - - - - </p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{% for item in values %}
		{% if item.status == 0 %}
		<p>Bug Title: {{item.title}}</p>
		<!--<p>Status: {{'Closed'}}</p>
		<p>Assigned to: {{item.user}}</p>
		<p>Opened: {{item.opened}}</p>
		<p>Details: {{item.details}}</p>-->
		<p> - - - - - - - - - - - </p>
		{% endif %}
	{% endfor %}
{% endblock %}